<html>
  <head>
    <style type="text/css">
      body {
        font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    </style>
  </head>

  <body>
  {{#user}}

    <p>Hey <a href="http://github.com/{{login}}">{{login}}</a>, to report test runs you need your secret token: <code>{{token}}</code> Keep it safe!</p>

    <p>
      Follow the instructions in the  <a href="http://github.com/datamapper/dm-dev">dm-dev readme</a>
      to get the necessary prerequisites installed. Once you've done that, make sure to run the following
      command:
    </p>

    <pre>thor dm:bundle:install</pre>

    <p>Once that's finished (it can take quite some time) you're good to go! Run the following command:</p>

    <pre>TESTOR_SERVER=http://testor.nextsnu.snusnu.info TESTOR_LOGIN={{login}} TESTOR_TOKEN={{token}} thor dm:ci:client</pre>

    <p>This will start test runs on your machine and will report the results back to this server</p>

    <p><strong>Thanks for helping us! Your CPU cycles are highly appreciated!</strong></p>

  {{/user}}
  </body>
</html>

